/*****Global Styles****/

body{
    background-color: #f6f9fe;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    width: 1200px;
}

h1{
    color: #372865;
    
}

p{
    color: 737373;
    font-size: 15px;
    line-height: 25px;
}

/**** header styles ****/

header img{
    margin-top: 38px;
    margin-left: 100px;

}

.logo{
    float: left;
}
nav{
    color: 606060;
}

nav ul{
    float: right;
    list-style: none;
    margin-top: 30px;
    margin-right: 100px;
}

nav ul li{
    display:inline-block;
    padding-left: 15px;
}

.waitlist-nav{
    font-weight: 700;
    color: white;
    background-color: #372865;
    padding: 15px;
    border: 1px solid #372865;
    border-radius: 0.1cm;
    margin-left: 15px
}


/***** main styles****/

.content-wrapper{
    clear: both;
    margin-left: 100px;

}
h2{
    color: white;
    background-color: #372865;
    font-weight: lighter;
    Font-size: 16px;
    border: 0px solid #372865;
    border-radius: 1cm;
    padding: 10px 15px;
    text-align: center;
    width:fit-content;
    margin: 20px 0;
}

span{
    text-decoration: underline;
    font-weight: 700
}

.heading{
    line-height: 60px;
    font-size: 50px;
    margin: 0;
}

.email-address{
    background-color: white;
    width: 300px;
    padding: 15px;
    border: 1px solid lightgrey;
    border-radius: 0.1cm;
    color: lightgrey;
    display: inline-block;
    margin-right: 10px;
    
}

.waitlist{
    font-weight: 700;
    color: white;
    background-color: #372865;
    padding: 15px;
    border: 1px solid #372865;
    border-radius: 0.1cm;
    width:fit-content;
    display: inline-block;

}

.info {
    float: left;
    width: 600px;
    padding: 100px 0;
}

.icon img {
    width: 300px;
    float: right;
    margin-right: 100px;
    padding-top: 100px;

}




/*****footer styles*****/
footer{
    clear: both;
    margin-left: 100px;
}
footer ul{
    float: left;
    list-style: none;
    padding: 0;
    margin: 0;
   }

footer ul li{
    display:inline-block;
    padding-right: 10px;
}

footer ul li img{
    width: 40px;
}
